html, body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #808080;
	margin: 0 auto;
	min-height:100vh;
	min-height: -webkit-fill-available;
	width: 100%;
}
img {
	max-width: 100%;
	height:auto;
}
a {
	text-decoration:none;
}
/* CAJA */
.box-container {
	background:white;
	border-radius: 10px;
	border: 1px solid #eee;
	padding: 10px;
	position: relative;
	height:200px;
	width: 250px;
}
.box-container-inner {
	bottom:0;
	box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.3);
	filter: blur(6px);
	height:94%;
	left:3%;
	position: absolute;
	width:94%;
	z-index: -1;
}
/* /// CAJA */

/* CSS GRID */
.contenedor {
	display: grid;
	place-items:stretch center;
	min-height:100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 55px auto 25px;
	grid-template-areas: 
	"header"
	"content"
	"footer"
}
.contenedor > div > img {
	width:100%;
	height:100%;
	object-fit:cover;
}
/* // HEADER // */
.header{
	display: grid;
	grid-area: header;
	grid-template-columns: 80px auto 30px 80px;
	place-items:center center;
	position:sticky;
	position: -webkit-sticky;
	z-index:100;
	background-color:#3a658a;
	width:100%;
	top:0px;
	grid-template-areas: 
	"log tit cu ico"
}

.header-logo {
	grid-area: log;
	place-items:center center;
}
.header-page {
	grid-area: tit;
	place-items:center center;
	font-size:1.6em;
	color:#e8f2fa;
}
.header-cuenta {
	grid-area: cu;
	place-items:center center;
}
.header-icono {
	grid-area: ico;
	justify-self: right;
}
/*//// CONTENIDO ////*/
.content {
	grid-area: content;
	display: grid;
	place-items:center stretch;
	grid-gap:0.5em;
	grid-template-columns: 1fr;
	grid-template-rows:  repeat(4, minmax(min-content,max-content));
	grid-template-areas: 
	"cnt0"
	"cnt1"
	"cnt2"
	"msg"
}
.content-cnt {
	grid-area: cnt0;
	place-items:center stretch;
	padding:40px 8px 4px 8px;
}
/* // FOOTER // */
.footer {
	display: grid;
	grid-area: footer;
	grid-template-columns: repeat(4,1fr);
	background-color:#3a658a;
	color:#e8f2fa;
	position:sticky;
	position: -webkit-sticky;
	z-index:101;
	width:100%;
	bottom:0px;
	place-items:center center;
	font-size:0.75em;
	grid-template-areas: 
	"fc1 fc2 fc3 fc4"
}
.footer-col-1 {
	grid-area: fc1;
	place-items:center center;
}

.footer-col-2 {
	grid-area: fc2;
	place-items:center center;
}
.footer-col-3 {
	grid-area: fc3;
	place-items:center center;
}
.footer-col-4 {
	grid-area: fc4;
	place-items:center center;
}
/* CSS GRID */

.logo-superior {
	width:100px;
}









/* === ALERTAS === */
.alert {
	font-size: 1.1em;
	border: 1px solid;
	padding:8px 16px;
	border-radius:8px;
	word-wrap: break-word;
	white-space:pre;
}

/* //== ALINEACION ==// */
.left {
	left:0 auto;
	text-align:left;
}
.right {
	right:auto;
	text-align:right;
}
.hcenter {
	margin: 0 auto;
	text-align:center;
	align-content:center;
}
.justify {
	text-align:justify;
}

/* //== BOTONES ==// */
.btn {
	color: White;
	padding: 10px;
	text-align:center;
	font-weight:500;
	height:50px;
	font-size:1.15em;
	font-variant:small-caps;
	letter-spacing:3px;
	z-index: -1;
	box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.btn:hover {
	background-color: ghostwhite;
	color:gray;
}
.btn:active {
	background-color: #6c757e;
	color:white;
}
.btn-block {
	width:100%;
}

/* //== COLORES ==// */
.info {
	background-color:#007aff;
	color:white;
}
.warning {
	background-color: #fdc204;  
	color:white;
}
.danger {
	background-color: #dc3546;
	color: white;
}
.default {
	background-color: #6c757e;
	color:white;
}
.primary {
	background-color:steelblue;
	color:white;
}
.success {
	background-color: #2aa741;
	color:white;
}
.white {
	background-color: white;
	color:gray;
}

/* CURSOR */
.clickable {
	cursor:pointer;
}
/* //== IMAGENS  ==// */
.top-titulo {
	color:white;
	font-size:1.5em;
}

.logo-top {
	height:45px;
}

/* === / FUENTES / === */
@font-face {
	font-family : 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: auto; 
	src: local('Roboto'), local('RobotoCondensed-Regular'),
	url('/shell/fonts/roboto-condensed-regular.woff2') format('woff2'),
	url('/shell/fonts/roboto-condensed-regular.eot') format('eot'),
	url('/shell/fonts/roboto-condensed-regular.woff') format('woff'),
	url('/shell/fonts/roboto-condensed-regular.ttf') format('truetype');
}
.roboto {
	font-family:'Roboto';
}
.ucase {
	text-transform:uppercase;
}
.lcase {
	text-transform:lowercase;
}
/* FIN FUENTES*/


/* ICONOS */
.ico-sm {
	width:24px;
}
.ico-md {
	width:32px;
}
.ico-lg {
	width:48px;
}

/*  === IMAGENES ===*/
.imagen-fondo {                                                                                                                                                                                                                            
	background-image: linear-gradient(to bottom, rgba(255,255,0,0.7), rgba(0,0,255,0.7)), url('../img/fondo1.jpeg');                                                                                                                      
}  

/* === inputs === */

*:focus {
	cursor:text; 
	outline: none;
}

input {
	color:#616161;
	border:0;
	border-bottom: 1px solid lightgrey;
	width:100%;
	background-color: transparent;
	height:32px;
	font-size:1.25em;
}
::placeholder {
	color:salmon;
	font-style:italic;
	font-size:0.85em;
	opacity:0.85;
}
.input-money {
	width:175px;
}
.input-single-number {
	width:50px;
}
input[type="date"] {
	font-size:1.2em;
}
.rangoFechas[data-clase="calendario-pequeno"] {
	width:145px;
	height:16px;
	font-size:0.90em;
}
input[type="file"] {
	display: inline-block;
	font-weight:700;
	cursor:pointer;
}
input[type="time"] {
	font-size:1.4em;
	width:140px;
}
input[type="checkbox"] {
	width:15px;
	height:15px;
}
input[type="image"] {
	border-bottom: 0px;
}
input[type="radio"] {
	width:15px;
	height:15px;
}
input[type="search"] {
	background: url("/shell/img/ico/search.svg") no-repeat 100%;
}
select {
	height:30px;
	border:0px;
	border-bottom:1px solid grey;
	color:grey;
	background-color: white;
	font-size:1.0em;
}
textarea {
	border:0;
	border-bottom:1px solid grey;
	font-size:1.10em;
	width:100%;
}

/* //== GRILLAS ==// */
.grilla-1x8 {
	display:grid;
	grid-template-rows: repeat(8,auto);
	place-items:center stretch;
	grid-template-columns: 1fr;
	grid-gap:2.0em;
	grid-template-areas: 
	"c1r1"
	"c1r2"
	"c1r3"
	"c1r4"
	"c1r5"
	"c1r6"
	"c1r7"
	"c1r8"
}

.gx-c1r1 {
	grid-area: c1r1;
}
.gx-c1r2 {
	grid-area: c1r2;
}
.gx-c1r3 {
	grid-area: c1r3;
}
.gx-c1r4 {
	grid-area: c1r4;
}
.gx-c1r5 {
	grid-area: c1r5;
}
.gx-c1r6 {
	grid-area: c1r6;
}
.gx-c1r7 {
	grid-area: c1r7;
}
.gx-c1r8 {
	grid-area: c1r8;
}

/* == MODAL == */

.modal {
	display : none;
	position: fixed;
	z-index: 333;
	left:50%;
	top: 50%;
	overflow:auto;
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height:100%;
}

/* == TEXTOS == */
label {
	letter-spacing:3px;
	font-size:0.85em;
	display: inline-block;
	text-align: left;
	width: 100%;
}
.listaItem {
	color:grey;
	display:block;
}
.listaItem:hover {
	background-color:gray;
	color:white;
	padding:2px;
}
.listaItem:active {
	background-color:green;
	color:white;
}
.texto-auxiliar {
	font-size:0.80em;
	font-variant:small-caps;
	letter-spacing:3px;
}

.texto-auxiliar:hover {
	color:steelblue;
	font-weight:700;
	font-size:0.86em;
}
video {
	width:100%;
	max-width:900px;
	height:auto;
}

h1 {
	letter-spacing:2px;
	font-size:1.35em;
	display: inline-block;
	text-align: center;
	font-variant:small-caps;
	width: 100%;
}

.card {
	border:1px solid rgba(0,0,0,0.2);
	cursor:pointer;
	margin:4px;
	box-shadow:3px 3px 5px 1px rgba(0,0,0,0.2);
}
.card .card-title {
	background-color:steelblue;
	width: 100%;
	padding: 4px 0 4px 0;
}
.card-title-text {
	margin-left:18px;
	color:white;
	letter-spacing:2px;
	font-weight:600;
	font-size:1.15em;
	display: inline-block;
	text-align: left;
	font-variant:small-caps;
}
.card .card-body {
	letter-spacing:1px;
	font-size:1.0em;
	padding:6px;
	margin-left:12px;
	text-align: justify;
	word-break:break-word;
	overflow-wrap:break-word;
}


/* ///// MEDIA QUERIES //// */

@media (min-width: 150px) and (max-width: 1000px) {
	.header {
		grid-template-columns: 1fr 30px;
		grid-template-areas: 
		"log cu"
	}
	.header-icono {
		display: none;
	}
	.header-page {
		display: none;
	}
	.header-logo {
		width:150px;
	}
	.logo-top {
		height:45px;
	}
	.footer {
		grid-template-columns:1fr;
		grid-template-areas: "fc2";
		font-size:0.7em;
	}
	.footer-col-1 {
		display:none;
	}
	.footer-col-3 {
		display:none;
	}
	.footer-col-4 {
		display:none;
	}
	h1 {
		font-size:1.15em;
	}
}

/*   /MEDIA QUERIES /// */


